<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="companyname.com.kpl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kpl_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin_files.Admin_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin_files.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin_files.Search_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin_files.Delete_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin_files.Edit_team"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin_files.Add_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin_files.Edit_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".admin_files.Add_Player"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <service android:name=".FcmInstanceIdService"
            >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"></action>
            </intent-filter>
        </service>
        <service android:name=".FcmMessagingService"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>
        </service>

    </application>

</manifest>